body{
    background-color: burlywood;
color: rgb(167, 89, 0);

}
.cabecalho{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}


.logo{

    width: 200px;
}
.palha{
    width: 500px;
}