body{
    background-color: white;
color: rgb(167, 89, 0);
font-family: "Playwrite IS", cursive;
}
.cabecalho{
    background-image: linear-gradient(burlywood, white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}


.logo{

    width: 188px;
}
.palha{
    width: 500px;
    
}
